.bg-success {
    background-color: #1b5e20    !important;
}
.navdrawer-nav .nav-link.active, .navdrawer-nav .nav-link:active {
    color: #1b5e20    !important;
}

.btn-success {
    background-color: #1b5e20    !important;
}

.card {
    width: 100%;    
    margin-bottom: 10px;
}

